a:link {
    text-decoration: none;
}

header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    background-color: rgb(18, 39, 18);
    color: whitesmoke;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    color: whitesmoke;
    list-style-type: disc;
} 

main {
    font-size: xx-large;
}

#Content{

}

#About-Me{
    
}

